wildfly-8.2.0.Final/standalone/data/wsdl/fj36-webservice.war/EstoqueWSService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EstoqueWSService" targetNamespace="http://ws.estoque.caelum.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.estoque.caelum.com.br/" elementFormDefault="unqualified" targetNamespace="http://ws.estoque.caelum.com.br/" version="1.0">

  <xs:element name="getQuantidade" type="tns:getQuantidade"></xs:element>

  <xs:element name="getQuantidadeResponse" type="tns:getQuantidadeResponse"></xs:element>

  <xs:complexType name="getQuantidade">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQuantidadeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:itemEstoque"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemEstoque">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="quantidade" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getQuantidade">
    <wsdl:part element="tns:getQuantidade" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQuantidadeResponse">
    <wsdl:part element="tns:getQuantidadeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EstoqueWS">
    <wsdl:operation name="getQuantidade">
      <wsdl:input message="tns:getQuantidade" name="getQuantidade">
    </wsdl:input>
      <wsdl:output message="tns:getQuantidadeResponse" name="getQuantidadeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EstoqueWSServiceSoapBinding" type="tns:EstoqueWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getQuantidade">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getQuantidade">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getQuantidadeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstoqueWSService">
    <wsdl:port binding="tns:EstoqueWSServiceSoapBinding" name="EstoqueWSPort">
      <soap:address location="http://localhost:8080/fj36-webservice/EstoqueWS"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>